/**  

Code by Maddie Kahlon

*/

body {
    margin: 0;
    background: #FFF;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    color: #999;
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

a {
    color: #999;
    text-decoration: underline;
}

a:hover {
    color: #29D986;
    text-decoration: underline;
}

p {
    margin: 1.1em 0;
}

::selection {
    background: transparent;
    color: #7C3AED;
}

::-moz-selection {
    background: transparent;
    color: #7C3AED;
}

code {
    font-family: Arial, sans-serif;
    display: inline-block;
    min-width: 42px;
    text-indent: 1.5px;
    text-align: center;
    background-color: #000;
    color: #32CD32;
}

#code1::selection,
#code2::selection {
    background: #000;
    color: #32CD32;
}

#code1::-moz-selection,
#code2::-moz-selection {
    background: #000;
    color: #32CD32;
}

#cell {
    position: absolute;
    height: 590px;
    width: 400px;
    left: calc(50% - 220px);
    margin: 35px 0 50px;
    padding: 20px;
    border: 1px solid #D7D7D7;
    border-radius: 9px;
    background: #FBFAFF;
}

#cell input {
    -webkit-appearance: none;
}

#playerbox {
    position: absolute;
    width: 500px;
    margin: 8px 0 0 calc(50% - 70px);
    letter-spacing: 0;
}

#desc {
    margin: 40px 0 16px;
    word-wrap: break-all;
    word-break: break-word;
}

#switch {
    display: inline;
    border-radius: 3px;
    letter-spacing: 1px;
}

#switch a {
    border-radius: 3px;
    padding: 4px 5px 4px 6px;
    color: #FFF;
    background: #737373;
    text-decoration: none;
}

#autoplay {
    display: inline-block;
    margin: 0;
    float: left;
}

#autoplay input {
    padding: 5px 6px;
    background: #F05;
    color: #FFF;
    letter-spacing: 1px;
}

#color-select {
    float: right;
    margin-right: 225px;
}

#color-select input {
    width: 60px;
    text-align: center;
    padding: 4.5px 0 3px 1px;
    letter-spacing: 1px;
}

#color-select input,
#autoplay input {
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    border-radius: 3px;
}

#trackbox {
    margin: 16px 0 0;
    width: 400px;
}

#trackguide {
    margin: 0 0 7px;
    word-wrap: break-all;
    word-break: break-word;
}

#trackurl1,
#trackurl2,
#trackurl3,
#trackurl4,
#trackurl5,
#trackurl6 {
    display: block;
    width: 270px;
    float: left;
    border: 1px solid #E0E0E0;
    background: #FFF;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 7px 0 0;
    color: #999;
    padding: 4px 6px;
    border-radius: 3px;
}

#trackname1,
#trackname2,
#trackname3,
#trackname4,
#trackname5,
#trackname6 {
    display: block;
    width: 90px;
    float: right;
    border: 1px solid #E0E0E0;
    background: #FFF;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 7px 0 0;
    color: #999;
    padding: 4px 6px;
    border-radius: 3px;
}

#generate {
    width: 400px;
    margin: 15px 0 0;
    border: 1px solid #E0E0E0;
    outline: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    border-radius: 3px;
    color: #999;
    padding: 8px 6px;
    background: #FFF;
    letter-spacing: 1px;
}

#code1,
#code2 {
    width: 380px;
    display: block;
    float: none;
    border: 1px solid #E0E0E0;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    background-color: #FFF;
    color: inherit;
    padding: 10px;
    border-radius: 3px;
    resize: none;
    word-wrap: break-word;
    -webkit-appearance: none;
}

#code1 {
    height: 36px;
    margin: 20px 0 25px;
}

#code2 {
    height: 191px;
    margin: 20px 0 0;
}

#proton {
    text-align: center;
    position: relative;
    top: 27px;
    left: -5px;
}

#click1 {
    margin-top: 25px;
}

.isolate {
    clear: both;
}

@media (max-width: 504px) {
    #cell {
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.85);
        transform-origin: center;
        margin: 0;
    }
}
